.imageContainer {
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    width: 200px;
    height: 200px;
}

.imageContainer img {
    position: relative;
    width: 100%;
    height: 100%;
    /*margin: 5px;*/
}
